@model IEnumerable<Commu_balance.Models.Request>

@{
    ViewBag.Title = "ViewRequests";
}


<h2> My Requests</h2>
<hr />
<br />
<div class="row">
	
	@foreach (var item in Model)
	{

		Commu_balance.Models.ApplicationDbContext db = new Commu_balance.Models.ApplicationDbContext();
		var schdID = (from i in db.Schedules
					  where i.Request_ID == item.Request_ID
					  select i.Schedule_ID).FirstOrDefault();

		var sdate = (from i in db.Schedules
					 where i.Request_ID == item.Request_ID
					 select i.Schedule_Date).FirstOrDefault();

		var details = (from i in db.QRCodes
					   where i.Schedule_ID == schdID
					   select i.QRId).FirstOrDefault();

		<div class="col-md-3">
            <div class="box">
                <div class="shadow p-3 mb-5 bg-white rounded">

                    <p>Request Number: @Html.DisplayFor(modelItem => item.Request_ID)</p>
                    <p>Client Name: @Html.DisplayFor(modelItem => item.Profile.Profile_Name)</p>
                    <p>Delivery Address: @Html.DisplayFor(modelItem => item.Profile.Profile_Address)</p>
                    <p>Request date: @Html.DisplayFor(modelItem => item.Request_Date)</p>
                    <p>
                        Schedule date: @if (sdate != null)
                        {@Html.DisplayFor(modelItem => sdate)}
                    else
                    {@Html.DisplayFor(modelItem => "No date")}
                    </p>
                    @if (item.RequestStatus_ID == 1 || item.RequestStatus_ID == 2)
                    {

                        <p>Schedule Statues: @Html.DisplayFor(modelItem => item.RequestStatus.Request_Satus)</p>
                    }

                    @*<a href='@Url.Action("Index", " Home", new { id =item.OrderDetail_Id})' class="btn btn-success">Assign Order</a>*@
                    @if (item.RequestStatus_ID == 3 || item.RequestStatus_ID == 4)
                    {

                        <div class="btn">
                            <div>
                                <a href="@Url.Action("Details", "QRCodes", new { id = details})">

                                    <input type="submit" value="Track Order" class="btn btn-success" />
                                </a>
                            </div>

                        </div>
                    }


                </div>
            </div>
		</div>
	}
</div>