@model Commu_balance.Models.Delivery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Driver_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.Driver_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Delivery_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
