@model IEnumerable<Commu_balance.Models.Donation>

@{
    ViewBag.Title = "Index";
}

<h2>Donation History</h2>
<br />
<div class="row">
	<a href='@Url.Action("Create", "Donations")' class="btn btn-danger">Back</a>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Profile_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.Profile_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.User_IDNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Amt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Profile.Profile_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Profile.Profile_Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Profile.User_IDNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Donation_Amt)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Donation_Date)
    </td>
    <td>
        @{Html.BeginForm("Details", "Donations", new { id = item.Donation_ID }, FormMethod.Get);
            {
                <div>
                    <input type="submit" value="Download Receipt" style="width:150px;height:27px" />
                </div>
            }
            Html.EndForm();
        }
    </td>
</tr>
}

</table>
